body {
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, rgba(44,12,51,1) 0%, rgba(33,9,48,1) 43%, rgba(50,21,60,1) 99%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    padding: 15px 30px;
    background: linear-gradient(45deg, rgba(48,45,44,1) 11%, rgb(69, 68, 71) 37%, rgba(66,52,70,1) 99%);
}

.top ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.top ul li {
    font-size: 20px;
    color: white;
}

.nav-link {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-link:hover {
    color: #1DB954;
}

.logo {
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

/* GRID de caixas de música */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
    padding: 30px 40px;
}

.box {
    background-color: #121212;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

iframe {
    width: 100%;
    height: 50%;
    border: none;
}

.texto {
    text-align: center;
    padding: 15px;
    font-size: 16px;
    color: white;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
