body {
    margin: 0;
    background-color: #000;
    font-family: Arial, sans-serif;
    color: #fff;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background-color: #111;
    padding: 1rem 1.5rem;
}

.logo-group {
    display: flex;
    align-items: center;
    gap: 10px; 
    
}

.logo-group #svg{
    cursor: pointer;
}

.logo {
    height: 40px;
    border-radius: 100%;
}

.header nav {
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    cursor: pointer;
    font-size: 16px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.nav-links li a:hover{
    color: #1DB954;
    transition: 0.3s;
}

.nav-links .active {
    color: black;
    background-color: white;
    padding: 0.4rem 1rem;
    border-radius: 20px;
}

#perfil {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}

#perfil img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.spanOne:hover{
    cursor: pointer;
    color: #1DB954;
    transition: 0.3s;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.search-container input {
    width: 50%;
    padding: 0.6rem;
    border-radius: 20px;
    border: none;
    outline: none;
}

.search-container button {
    margin-left: -2.5rem;
    background: none;
    border: none;
    color: #999;
    cursor: pointer;
}

.main-content {
    padding: 2rem;
}

.top-artists,
.billboard {
    background-color: #1a1a1a;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 20px;
}

.top-artists h2,
.billboard h2 {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.artist-grid,
.album-grid {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.artist-card,
.album-card {
    text-align: center;
    width: 120px;
}

.artist-card img,
.album-card img {
    width: 100%;
    border-radius: 15px;
}

.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 1rem 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.track-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.track-info img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.controls button {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}
