body{
    padding: 0;
    margin: 0;
    background: rgb(44,12,51);
    background: linear-gradient(90deg, rgba(44,12,51,1) 0%, rgba(33,9,48,1) 43%, rgba(50,21,60,1) 99%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
    color: white;
}


header{
    padding: 10px;
    background: rgb(48,45,44);
    background: linear-gradient(45deg, rgba(48,45,44,1) 11%, rgb(69, 68, 71) 37%, rgba(66,52,70,1) 99%)
}

.top ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.top ul li a{
    text-decoration: none;
    color: black;
}

.top ul li a:hover{
    color: white;
}

.top ul li:hover{
    color: white;
}

li{
    cursor: pointer;
    font-size: 25px;
}

.logo{
    width: 30px;
    height: 35px;
}

h1{
    text-align: center;
    color: white;
}

.box-musicas{
    display: flex;
    justify-content: space-around;
}

.box-img{
    display: block;
}

/* FALTA ALINHAR AS CAIXAS(IMG EM BAIXO DO TEXTO) */